appnope==0.1.4
asttokens==2.4.1
backcall==0.2.0
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
filelock==3.15.4
ipython==8.12.3
jedi==0.19.1
matplotlib-inline==0.1.7
parso==0.8.4
pbr==6.0.0
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.2.2
prompt-toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.18.0
six==1.16.0
stack-data==0.6.3
stevedore==5.2.0
traitlets==5.14.3
typing-extensions==4.12.2
virtualenv==20.26.3
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
wcwidth==0.2.13
